<p [style.color]="+color > 0.5 ? 'red' : 'blue'">style.color aleatorio</p>
<p [ngStyle]="{'background-color': 'red'}">background-color con ngStyle</p>
<p [ngClass]="{'color-danger': solicitud.nombre, input:true}">valor de clases con ngClass</p>
<div><button (click)="saludo()">Pulsa aqui</button></div>

<h1>Solicitud de Comedor</h1>
<h2>Nueva Solicitud</h2>
<label for="nombre">Nombre</label>
<input type="text" id="nombre" name="nombre" (keyup)="actualizaNombre($event)">
<label for="apellidos">Apellidos</label>
<input type="text" id="apellidos" name="apellidos" (keyup)="actualizaApellidos(apellidos.value)" #apellidos>
<p *ngIf="!solicitud.apellidos.length" class="color-danger">Los apellidos no pueden ser nulos.</p>
<button (click)="enviar()">Enviar</button>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
    </tr>
<tr *ngFor="let solicitud of solicitudes; let odd = odd; let even = even"  [ngClass]="{odd: odd, even: even}">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
</tr>
</table>
<app-centro [centro]="centro"></app-centro>
